@font-face {
  font-family: "Good Times Rg";
  src: local("Good Times Rg"), url(./fonts/good_times_rg.ttf) format("truetype");
}
body {
  font-family: cursive;
  margin: 0;
  padding: 0;
}

.mainNav {
  height: 60px;
  width: 100%;
  background-color: #203040;
  color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem;
}

.mainHeadingMovie {
  text-decoration: none;
  color: #ffffff;
}

.mainHeadingTv {
  text-decoration: none;
  color: #ffffff;
}

.footer {
  height: 30px;
  width: 100%;
  background-color: #203040;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie-top-art {
  height: 500px;
  width: 100%;
}
.movie-poster-top {
  filter: contrast(40%) blur(2px);
  position: relative;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
}

.heading {
  position: absolute;
  top: 50px;
  left: 30px;
  font-family: "Good Times Rg";
  font-style: bold;
  color: #ffffff;
  font-size: 60px;
}

.about {
  position: absolute;
  top: 200px;
  left: 30px;
  font-family: "Good Times Rg";
  color: #ffffff;
}

.release_date {
  position: absolute;
  bottom: 100px;
  left: 30px;
  font-family: "Good Times Rg";
  color: #ffffff;
}

.score {
  position: absolute;
  bottom: 70px;
  left: 30px;
  font-family: "Good Times Rg";
  color: #ffffff;
}
